{%load static%}
            <div class="border-right border-warning min-vh-100">
                <div class="text-center"><img src="{% static 'image/Goppu1.jpg' %}" alt="profilepic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
                </div>
                <i><h3 class="text-white text-center mt-3">Gopal Singh</h3></i>
                <hr class="border-light">
                <nav class="nav flex-column text-center">
                    <a href="/home.html">Home</a><br>
                    <a href="/service.html">Service</a><br>
                    <a href="/skill.html">Skills</a><br>
                    <a href="/contact.html">Contact Us</a>

                </nav>
            </div>